{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
    color: #333;
}

header {
    background: #0891b2;
    padding: 15px 8%;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover {
    color: #00adb5;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 8%;
    flex-wrap: wrap;
}

.image .circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #282828;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    max-width: 500px;
    margin-left: 50px;
}

.content h1 span {
    color: #00adb5;
}

.content h3 {
    margin: 10px 0;
}

.socials a {
    margin-right: 15px;
    text-decoration: none;
    color: #00adb5;
    font-weight: 500;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn.outline {
    background: transparent;
    border: 2px solid #00adb5;
    color: #00adb5;
}

.btn:hover {
    opacity: 0.8;
}

/* SECTIONS */
section {
    padding: 80px 8%;
    text-align: center;
}

.skills .skill {
    margin: 20px 0;
    text-align: left;
}

.progress {
    width: 100%;
    background: #ddd;
    border-radius: 10px;
}

.progress-bar {
    height: 10px;
    border-radius: 10px;
    background: #00adb5;
}

/* Skill Levels */
.html { width: 90%; }
.css { width: 85%; }
.js { width: 75%; }
.python { width: 70%; }
.Excel { width: 70%; }
.SQL { width: 80%; }

.project-card {
    background: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #050505;
    color: white;
}

@media(max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .content {
        margin-left: 0;
        margin-top: 30px;
    }
}


